/* ПОДКЛЮЧЕНИЕ ШРИФТОВ ==================== */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

/* 
Thin (Hairline) : 100
Extra Light (Ultra Light) : 200
Light: 300
Normal (Regular) : 400
Medium: 500
Semi Bold (Demi Bold) : 600
Bold: 700
Extra Bold (Ultra Bold) : 800
Black (Heavy) : 900
*/

/* ========================================= */

/* ОБЩИЕ НАСТРОЙКИ ========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --accent-color: #037E8C;
    --text-color: #121214;
}

body {
    overflow: hidden;
}

li, a {
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none;
}

.wrapper {
    max-width: 1664px;
    margin: 0 auto;
}

.button {
    padding: 0.9375rem 1.875rem;
    color: white;
    border-radius: 0.625rem;
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    background-color: var(--accent-color);
    font-family: 'Montserrat';
    font-weight: 600;
    cursor: pointer;
    transition: opacity 0.3s, transform 0.3s;
    text-transform: capitalize;
}

.button:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    white-space: nowrap;
}

/* СТИЛИЗАЦИЯ <HEADER> ===================== */
.wrapper__header {
    color: white;
    padding: 0rem 4.375rem;
    background: url('../img/main_photo.png') top/cover;
    height: 100vh;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 4.25rem;
    position: relative;
    padding-top: 1rem;
}

.header__phone::before {
    content: '';
    background: url('../img/telephone-call_256.png') center/cover;
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
}

/* КНОПКА ДЛЯ МОБИЛКИ ====================== */
.header__burger {
    display: none;
    position: absolute;
    left: 0;
    top: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 5%;
    background: url('../svg/menu_burger.svg') center/cover;
    cursor: pointer;
    transition: transform 0.5s, background 0.3s;
    transform-origin: center;
}

.header__burger:hover {
    opacity: 0.7;
    background: url('../img/chevron_128.png') center/cover;

}

.header__burger:active {
    transform: translateX(-20%) scale(0.85);
}

.nav__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 0.625rem;
}

.nav__item {
    text-align: center;
    transition: opacity 0.3s;
}

.nav__item:hover {
    opacity: 0.7;
}

.nav__link--button {
    color: var(--accent-color);
    font-weight: 900;
}


/* HERO */

.header__hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.header__content {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.header__title {
    margin-bottom: 1.5rem;
    font-size: 4.375rem;
}

.header__subtitle {
    margin-bottom: 3.5rem;
    font-weight: normal;
    font-size: 1.1rem;
}

.header__button {
    position: relative;
    max-width: 235px;
    display: flex;
    justify-content: space-between;
}

.header__button::after {
    content: '>';
    color: #037E8C;
    position: absolute;
    right: 1rem;
    background-color: white;
    border-radius: 50%;
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    top: 50%;
    transform: translateY(-50%);
}

/* SCROLL */

.header__scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    position: fixed;
    right: max(25px, calc(50% - 800px));
    top: 380px;
    transform: translateY(-60%);
    z-index: 1000;
    background-color: rgba(17, 24, 24, 0.5);
    padding: 0.9rem;
    border-radius: 15px;
}

.scroll__dots {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.scroll__dot {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: white;
    transition: transform 0.3s;
}

.scroll__dot:hover {
    transform: scale(1.4);
    cursor: pointer;
}

.scroll__dot--active {
    background-color: var(--accent-color);
}

.scroll__line {
    width: 2px;
    height: 50px;
    background-color: white;
}

.scroll__text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

/* MEDIA TABLET 1024 px===================== */

@media (max-width: 1024px) {
    html {
        font-size: 12px;
    }

    .header__top {
        flex-direction: column;
        gap: 1rem;
    }

    .header__logo img {
        width: 55px;
        height: auto;
    }
}

/* MEDIA MOB 480 px===================== */

@media (max-width: 480px) {
    html {
        font-size: 8px;
    }

    .header__logo img {
        width: 35px;
        height: auto;
    }

    .header__burger {
        display: inline;
    }

    .nav__list {
        display: none;
    }

    .header__top {
        flex-direction: row-reverse;
    }

    .header__phone {
        display: none;
    }
}

/* СТИЛИЗАЦИЯ <MAIN> ======================= */
.wrapper__main {
    color: var(--text-color);
    padding: 0 4.375rem;
    height: 100vh;
    overflow: hidden;
    background: url('../svg/background_main.svg') center/cover;
    transition: height 0.5s ease-in-out;
}

.features {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 0 auto 2.25rem;
    padding-top: 1rem;
}

.feature-card {
    display: flex;
    flex-direction: column;

}

.feature-card__icon {
    width: 2.8125rem;
    height: auto;
}

.feature-card__icon {
    margin-bottom: 2rem;
}

.feature-card__title {
    margin-bottom: 0.8rem;
}

/* СТИЛИЗАЦИЯ <MAIN> => <ROUTES> =========== */
.routes {
    color: var(--text-color);
    position: relative;
}

.routes__title {
    text-align: center;
    font-weight: 700;
    font-size: 2.25rem;
    margin-bottom: 2.75rem;
}

.routes__content {
    display: flex;
    justify-content: space-between;
    padding: 0 4.5rem;
}

.routes__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.routes__card-title {
    text-transform: uppercase;
    font-size: 2.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.routes__card-price {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.routes__specs {
    margin-bottom: 1rem;
}

.routes__spec {
    color: var(--text-color);
    text-transform: uppercase;
    margin-bottom: .75rem;
}

.routes__spec span {
    text-transform: uppercase;
    font-weight: 700;
}

.routes__route-label {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.125rem;
    margin-bottom: 0.75rem;
}

.routes__route-points {
    max-width: 75%;
    margin-bottom: 1rem;
}

.routes__action {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.routes__button--details {
    background: none;
    border: solid 1.5px var(--accent-color);
    color: var(--accent-color);
}

.routes__image {
    max-width: 500px;
    height: auto;
}

/* СТИЛИЗАЦИЯ <CARRUSEL> =================== */
.container {
    overflow: hidden;
    max-width: 350px;
    height: auto;
    margin: 0 auto 50px;
    position: relative;
}

.slider {
    display: flex;
    transition: transform 1.5s ease-in-out;
    width: 1050px;
}

.slide {
    width: 350px;
    flex-shrink: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* СТИЛИЗАЦИЯ КНОПОК КАРУСЕЛИ ============== */
.next-button, .prev-button {
    background: var(--accent-color);
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    padding: 0.4rem;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    position: absolute;
    z-index: 100;
    opacity: 0.5;
    transition: all .5s;
    border-radius: 15px;
    width: 40px;
    height: 40px;
}

.next-button:hover, .prev-button:hover {
    opacity: 0.9;
}

.next-button {
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
}

.prev-button {
    position: absolute;
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 1024px) {
    .routes__content {
        /* flex-direction: column; */
        flex-wrap: wrap;
    }

    .routes__action {
        margin-bottom: 1rem;
    }
}

@media (max-width: 480px) {
    .features {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        /* margin: 0 auto 2.25rem; */
        padding-top: 1rem;
    }

    .routes__content {
        flex-direction: column;
    }

    .routes__action {
        margin-bottom: 2.5rem;
    }
}

/* СТИЛИЗАЦИЯ <FOOTER> ============== */
.wrapper__footer {
    padding: 0rem 4.375rem;
}

.footer {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    max-height: 100vh;
}

.contacts {
    margin-bottom: 2rem;
}

.contacts__title {
    text-align: center;
    font-weight: 700;
    font-size: 2.25rem;
    margin-bottom: 4.75rem;
    padding-top: 1rem;
}

.contacts__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: top;
    flex-wrap: wrap;
}

.contacts__content {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.contacts__main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    margin-bottom: 4rem;
    font-size: 1.125rem;
}

.contacts__info, .contacts__shedulle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;
}


.contacts__city::before {
    content: '';
    display: inline-block;
    margin-right: 0.9rem;
    vertical-align: top;
    width: 2.3rem;
    height: 2.3rem;
    background: url('../svg/contacts_city.svg') center/cover;
}

.contacts__email {
    word-break: break-all;
}

.contacts__email::before {
    content: '';
    display: inline-block;
    margin-right: 0.9rem;
    vertical-align: top;
    width: 2.3rem;
    height: 2.3rem;
    background: url('../svg/contacts_email.svg') center/cover;
}

.contacts__tel::before {
    content: '';
    display: inline-block;
    margin-right: 0.9rem;
    vertical-align: top;
    width: 2.3rem;
    height: 2.3rem;
    background: url('../svg/contacts_phone.svg') center/cover;
}

.contacts__hours {
    display: inline;
}

.contacts__hour::before {
    content: '';
    display: inline-block;
    margin-right: 0.9rem;
    vertical-align: top;
    width: 2.3rem;
    height: 2.3rem;
    background: url('../svg/contacts_hours.svg') center/cover;
}

.contacts__hour:not(:first-child):before {
    content: '';
    background: url('');
}

.contacts__write-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.contacts__social {
    display: flex;
    column-gap: 1rem;
    margin-bottom: 1rem;
}

.social__icon {
    width: 1.7rem;
    height: 1.7rem;
}

.contacts__map {
    max-width: 40%;
    height: auto;
    padding-right: 3rem;
}

.contacts__map-img {
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .contacts__map {
        max-width: 100%;
        height: auto;
        padding-right: 3rem;
    }

}

@media (max-width: 480px) {
    .contacts__map {
        max-width: 100%;
        height: auto;
        padding-right: 3rem;
    }
}

.footer__links {
    line-height: 3rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-transform: uppercase;
    margin-bottom: 1rem;
    align-self: self-end;
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    flex-wrap: wrap;
    gap: 1rem ;
}

.footer__link {
    color: var(--text-color);
    font-size: 0.875rem;
    font-weight: 600;
    transition: color 0.3s, font-weight 0.3s;
}

.footer__link:hover {
    color: var(--accent-color);
    font-weight: 800;
}